*{
  margin: 0;
  padding: 0;  
  font-family: 'Poppins', sans-serif;
}

.sub-header{
    height: 50vh;
    width: 100%;
    background-image: linear-gradient(rgba(4,9,30,0.7),rgba(4,9,30,0.7)),url(Imagenes/banner4.jpg);
    background-position: center;
    background-size: cover;
    position: relative;
}

.titulo-banner{
  width: 90%;
  color: white;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%,-50%);
  text-align: center;
}

.titulo-banner h1{
  font-size: 40px;
}

.sobre-nos{
  width: 80%;
  margin: auto;
  padding-top: 80px;
  padding-bottom: 50px;
}

.fila{
  margin-top: 5%;
  display: flex;
  justify-content: space-between;
}


.columna{
  flex-basis: 48%;
  padding: 30px 2px;
}

.columna img {
  width: 100%;  
}

.columna h1 {
  padding-top: 0;
}

.columna p{
  padding: 15px 0 25px;
}

.boton{
  display: inline-block;
  text-decoration: none;
  color: white;
  border: 1px solid white;
  padding: 12px 34px;
  font-size: 13px;
  position: relative;
  cursor: pointer;
}

.boton-b{
  border: 1px solid #db7ac6;
  background: transparent;
  color: #db7ac6;
}

.boton-b:hover{
  color: rgb(7, 7, 7);
}

.boton:hover{
  border: 1px solid pink;
  background: pink;
  transition: 1s;
}

nav{
  display: flex;
  padding: 2% 6%;
  justify-content: space-between;
  align-content: center;
}

nav img{
  width: 150px;
}

.nav-links{
  flex: 1;
  text-align: right;
}

.nav-links ul li{
  list-style: none;
  display: inline-block;
  padding: 8px 12px;
  position: relative; 
}

.nav-links ul li a{
  color: white;
  text-decoration: none;
  font-size: 25px;
}

.nav-links ul li::after{
  content: '';
  width: 0%;
  height: 2px;
  background: pink ;
  display: block;
  margin: auto;
  transition: 0.5s;
}

.nav-links ul li:hover::after{
  width: 100%;
}

.burga{
  display: none;
  cursor: pointer;
}

.burga div{
  width: 25px;
  height: 3px;
  margin: 5px;
  background-color: rgb(255, 255, 255);
  transition: all 0.3s ease;
}




nav .fas{
  display: none;
}


.iconos-f a{
  color: white;
  text-decoration: none;
  font-size: 25px;
}


/*----footer----*/
.footer{
  width: 100%;
  text-align: center;
  padding: 30px 0;
}

.footer h4{
  margin-bottom: 25px;
  margin-top: 20px;
  font-weight: 600;
}

.iconos-f .fab{
  color: #db7ac6;
  margin: 0 13px;
  cursor: pointer;
  padding: 18px 0;

}





@media(max-width: 767px){

  .titulo-banner h1{
    font-size: 30px;
  }
  
  
  .caja-texto h1{
    font-size: 20px;
  }


  .nav-links ul li{
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 98px;

  }

  .nav-links{
    position: absolute;
    background: pink;
    right: 0px;
    height: 100vh;
    top: 8vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 200px;
    transform: translateX(100%);
    transition: transform 0.5s ease-in;
    text-align: left;
    z-index: 2;
  }

  .nav-links li{
    opacity: 0;
  }

  .nav-active{
  transform: translateX(0%);
  }
  
  .burga{
    display: block;
    }

  body{
      overflow-x: hidden;
  }

  nav .fas{
    display: block;
    color: white;
    margin: 10px;
    cursor: pointer;
    font-size: 22px;
  }

  .nav-links ul{
    padding: 30px;
  }

  .fila{
    flex-direction: column;
  }


  .columna img{
    margin-left: 0px;
    margin-right: 15px;
  }

  .ctato h1{
    font-size: 24px;
  }
}


@media screen and (min-width: 768px) and (max-width: 1023px){

  .filas{
    flex-direction: column;
  }


  .columna img{
    margin-left: 0px;
    margin-right: 15px;
  }

}



@keyframes navLinkFade{
  from{
      opacity: 0;
      transform: translateX(50px);
  }
  to{
      opacity: 1;
      transform: translateX(0px);
  }
}

.toggle .line1{
transform: rotate(-45deg) translate(-5px,6px);
}

.toggle .line2{
  opacity: 0;
}

.toggle .line3{
  transform: rotate(45deg) translate(-5px,-6px);
}